
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}" />
   </head>
    <body>

    <script src="{{ url_for('static', filename='js/konami.js') }}"></script>
    <script>
        var easter_egg = new Konami(function() {
            var img = document.createElement("img");
            img.src = "https://i.kym-cdn.com/photos/images/newsfeed/000/611/881/8cb.gif";
            img.alt = "You found the konami code ! Ask for a cookie"
            var src = document.getElementById("konami");
            src.appendChild(img);
        });
    </script>
        <h1><a href="/">&#x2B22; Domain Check</a> </h1>
        <hr/>
        || <a href="{{ url_for('whois_dig') }}">Dig + whois</a>
        || <a href="{{ url_for('sortdom') }}">tri de domaine</a>
        || <a href="{{ url_for('mail_header') }}">parse header mail</a>
        || <hr/>
        {% block index %}{% endblock %}
        <div id="konami"></div>
        <hr/>
	<p> Un bug ? faites la remont&eacute;e sur <a href='mai&#108;&#116;o&#58;%63o&#110;tac&#116;&#64;de%61&#37;64%2D%&#54;2%72a&#105;n&#46;&#37;66%&#55;2'>contact&#64;&#100;ead&#45;br&#97;i&#110;&#46;fr</a></p>
    </body>
</html>
