
<html>
   <head>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/common.css') }}" />
   </head>
    <body>
    
    <script src="{{ url_for('static', filename='js/konami.js') }}"></script>
    <script>
        var easter_egg = new Konami(function() { 
            var img = document.createElement("img");
            img.src = "http://react.khrogosphe.re/dance_de_la_victoire.gif";
            var src = document.getElementById("konami");
            src.appendChild(img);
        });
    </script>
        <h1><a href="http://julien-d.ovh">&#x2B22; Julien-d tools</a> </h1>
        <hr/>
        || <a href="{{ url_for('whois_dig') }}">Dig + whois</a>
        || <a href="{{ url_for('zonecheck') }}">Zonecheck</a>
        || <a href="{{ url_for('propadns') }}">Propagation</a>
        || <a href="{{ url_for('sortdom') }}">tri de domaine</a>
        || <a href="{{ url_for('getip') }}">ip des clusters OVH</a>
        || <a href="{{ url_for('rbl') }}">Check RBL</a>
        || <a href="{{ url_for('mail_header') }}">parse header mail</a>
        || <hr/>
        {% block index %}{% endblock %}
        <div id="konami"></div>
        <hr/>
        <p>Remontez toute erreur ou besoin à l'adresse <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#106;&#117;&#108;&#105;&#101;&#110;&#45;&#100;&#46;&#111;&#118;&#104;">&#99;&#111;&#110;&#116;&#97;&#99;&#116;&#64;&#106;&#117;&#108;&#105;&#101;&#110;&#45;&#100;&#46;&#111;&#118;&#104;</a></p>
    </body>
</html>

