{% extends "base.html"  %}
{% block index %}

<form  action="{{ url_for("getip") }}" method="post">
    <select name="cluster" id="cluster">

    <option>cluster002 - 90plan</option>
    <option>cluster003 - 240plan</option>
    <option>cluster005 - 720plan</option>
    <option>cluster006 - mediaplan</option>
    <option>cluster007 - xxlplan</option>
    <option>cluster010 - 60gp</option>
    <option>cluster011 - 300gp</option>
    <option>cluster012 - 1000gp</option>
    <option>cluster013 - 20gp</option>
    <option>cluster014 - startplan</option>
    <option>cluster015 - mailplan</option>
    <option>cluster016 - </option>
    <option>cluster017 - </option>
    </select>
    <input type="submit" value="run">
</form>
<hr />
{% if cluster %}
    <h3>{{ cluster }}</h3>
    <table style="border: 1px">
    {% for key, ip in ips.iteritems() %}
       <tr><td>{{ key }}</td><td>{{ ip }}</td></tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock %}

